{%extends 'base.html'%}
{%block body_block%}

<div class="container">
  <div class="row mt-sm-5">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 mt-5">
      <div class="shadow py-4 px-5">
          <h3 class="text-center">Change Password</h3>
        <form action="" method="post">
        {%csrf_token%}
        <div class="mb-3 mt-4">
          <label for="id_old_password" class="mb-1">Old Password*</label>
          <input type="password" name="old_password" id="id_old_password" class="form-control">
        </div>

        <div class="mb-3">
          <label for="id_new_password" class="mb-1">New password*</label>
          <input type="password" name="new_password" id="id_new_password" class="form-control">
        </div>

        <div class="mb-4">
          <label for="id_confirm_password" class="mb-1">Confirm Password*</label>
          <input type="text" name="confirm_password" id="id_confirm_password" class="form-control">
        </div>

        <div class="text-center mb-3">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>

      </form>
      </div>
    </div>
    <div class="col-lg-3 col-md-2"></div>
  </div>
</div>

{%endblock%}