{%extends 'base.html'%}
{%load static%}
{%block body_block%}
<div class="container">
    <div class="row my-md-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 sell-car px-5">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                <div class="mt-4 mb-3">
                    <label for="id_car_image" class="mb-1">car image*</label>
                    <input type="file" name="car_image" id="id_car_image" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_name" class="mb-1">car name*</label>
                    <input type="text" name="name" id="id_name" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_company" class="mb-1">company*</label>
                    <input type="text" name="company" id="id_company" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_color" class="mb-1">color*</label>
                    <input type="text" name="color" id="id_color" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_prize" class="mb-1">prize*</label>
                    <input type="text" name="prize" id="id_prize" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_year" class="mb-1">year*</label>
                    <input type="text" name="year" id="id_year" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="id_fuel_type" class="mb-1">fuel type*</label>
                    <input type="text" name="fuel_type" id="id_fuel_type" class="form-control">
                </div>

                <div class="mb-4">
                    <label for="id_reason" class="mb-1">reason*</label>
                    <textarea name="reason" id="id_reason" cols="30" rows="2" class="form-control"></textarea>
                </div>

                <div class="mb-4 text-center">
                    <button type="submit" class="btn btn-primary">Upload details</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}