{%extends 'base.html'%}

{% block title %}
All Cars
{% endblock %}

{%block body_block%}

<div class="container-xl">
    <div class="row mt-5">
        {%for car in cars%}
        <div class="col-lg-3 col-sm-6">
            <div class="card my-4">
                <img src="{{car.car_image.url}}" class="card-img-top" alt="{{car.name}}" style="height: 37vh;">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{car.name}}</h5>
                    <p class="card-text"><i class="fa-solid fa-indian-rupee-sign"></i> {{car.prize}}</p>
                    <p class="card-text">{{car.reason}}</p>
                    <div class="text-center">
                        <a href="{% url 'view-car-details' car.id %}" class="btn btn-primary">see more</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}